---
layout: default
---

<!-- about.html -->
      <div class="post">
        <header class="post-header">
            {% if page.profile -%}
          <div class="profile float-{%- if page.profile.align == 'left' -%}left{%- else -%}right{%- endif -%}">
                {%- if page.profile.image %}
              {%- assign profile_image_path = page.profile.image | prepend: 'assets/img/' -%}

              {% if page.profile.image_circular %}
                {%- assign profile_image_class = "img-fluid z-depth-1 rounded-circle" -%}
              {% else %}
                {%- assign profile_image_class = "img-fluid z-depth-1 rounded" -%}
              {% endif %}

              {% include figure.html
              path=profile_image_path
              class=profile_image_class
              alt=page.profile.image -%}
            {% endif -%}
            {%- if page.profile.contact %}
              <div class="address" style="padding-left: 10px">
                <table class="table table-sm table-borderless table-dark">
                  <tbody>
                    {%- if site.email -%}
                      <tr>
                        <td><a href="mailto:{{ site.email }}" title="email"><i class="fas fa-envelope"></i></a></td>
                        <td><a href="mailto:{{ site.email }}" title="email">{{ site.email }}</a></td>
                      </tr>
                    {% endif %}
                    {%- if site.scholar_userid %}
                      <tr>
                        <td><a href="https://scholar.google.com/citations?user=-VnX0xYAAAAJ" title="Google Scholar"><i class="ai ai-google-scholar"></i></a></td>
                        <td><a href="https://scholar.google.com/citations?user={{ site.scholar_userid }}" title="Google Scholar">Google scholar</a></td>
                      </tr>
                    {% endif %}
                    {%- if site.github_username -%}
                      <tr>
                        <td><a href="https://github.com/{{ site.github_username }}" title="GitHub"><i class="fab fa-github"></i></a></td>
                        <td><a href="https://github.com/{{ site.github_username }}" title="GitHub">{{ site.github_username }}</a></td>
                      </tr>
                    {% endif %}
                    {%- if site.twitter_username %}
                      <tr>
                        <td><a href="https://twitter.com/{{ site.twitter_username }}" title="Twitter"><i class="fab fa-twitter"></i></a></td>
                        <td><a href="https://twitter.com/{{ site.twitter_username }}" title="Twitter">{{ site.twitter_username }}</a></td>
                      </tr>
                    {% endif %}
                    {%- if site.address1 %}
                      <tr>
                        <td><a href="https://www.google.com/maps/place/{{ site.address1 }} {{ site.address2 }}" title="address"><i class="fas fa-map-marked-alt"></i></td>
                        <td><a href="https://www.google.com/maps/place/{{ site.address1 }} {{ site.address2 }}" title="address">{{ site.address1 }}<br>{{ site.address2 }}</td>
                      </tr>
                    {% endif %}
                  <!--<tr>
                    <td><a href="https://www.google.com/maps/place/{{ site.address1 }} {{ site.address2 }}" title="address"><i class="fas fa-map-marked-alt"></i></td>
                    <td>{{ site.address1 }}</td>
                  </tr>
                  -->
                  </tbody>
                </table>
            </div>
            {%- endif %}
          </div>
          {%- endif %}
            
          <h1 class="post-title">
           {% if site.title == "blank" -%} {{ site.first_name }} {{ site.middle_name }} {{ site.last_name }}{%- else -%}{{ site.title }}{%- endif %}
          </h1>
            
          <p class="desc">{{ page.subtitle }}</p>
        </header>

        <article>
          <br>
          <div class="clearfix" style="text-align: justify">
            {{ content }}
          </div>
          <br>

          <!-- News -->
          {% if page.news and site.announcements.enabled -%}
            <h2><a href="{{ '/news/' | relative_url }}" style="color: inherit;">news</a></h2>
            {%- include news.html limit=true %}
          {%- endif %}

          <!-- Latest posts -->
          {% if page.latest_posts -%}
            <h2><a href="{{ '/blog/' | relative_url }}" style="color: inherit;">latest posts</a></h2>
            {%- include latest_posts.html %}
          {%- endif %}

          <!-- Selected papers -->
          {% if page.selected_papers -%}
            <h2><a href="{{ '/publications/' | relative_url }}" style="color: inherit;">selected publications</a></h2>
            {%- include selected_papers.html %}
          {%- endif %}

          <!-- Social -->
          {%- if page.social %}
            <div class="social">
              <div class="contact-icons">
                {% include social.html %}
              </div>

              <div class="contact-note">
                {{ site.contact_note }}
              </div>

            </div>
          {%- endif %}
        </article>

</div>
